/* Estilos generales */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  padding: 5px; 
  width: 100%; 
  max-width: 700px;
  border-radius: 50px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  margin: 50px auto; 
}

.icono {
  padding: 15px;
  width: 60px;
  height: auto;
  margin: 5px;
  text-align: center;
}

.subscribite-text {
  margin-bottom: 25px;
  font-weight: bold;
}

h1 {
  color: #1E1E1E;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #1E1E1E;
  font-weight: bold;
}

@font-face {
  font-family: 'Inter'; 
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Media Query para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    margin: 20px auto; 
    width: 90%; 
    max-width: 600px; 
    border-radius: 40px;
    height: auto; 
  }

  .icono {
    width: 45px;
  }

  .subscribite-text {
    margin-bottom: 20px; 
  }

  h1 {
    font-size: 20px; 
  }
}

/* Media Query para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 200px auto; 
    padding: 5px; 
    width: 90%; 
    max-width: 400px; 
    height: auto; 
  }

  .icono {
    width: 40px;
  }

  h1 {
    font-size: 20px; 
  }
}
